In [1]:
import pandas as pd
import networkx as nx

In [2]:
df = pd.read_csv('dataset.csv')

In [3]:
df.head()

   Seller ID  Buyer ID      Value
0       1309      1011  1225513.0
1       1309      1011  1179061.0
2       1309      1011  1119561.0
3       1309      1011  1200934.0
4       1309      1011  1658957.0

In [4]:
data = list(df.itertuples(index = False, name = None))

In [5]:
multi_graph = nx.MultiDiGraph()

In [6]:
multi_graph.add_weighted_edges_from(data)

In [7]:
# nx.draw_networkx(multi_graph, with_labels = False)

In [8]:
len(df)

130535